/* -- START -- Reset */
#bsa-block-125--125 h3,
#bsa-block-125--125 a,
#bsa-block-125--125 img,
#bsa-block-125--125 span,
#bsa-block-125--125 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-125--125.bsaProContainerNew .bsaProItem,
#bsa-block-125--125 .bsaProItemInner__thumb,
#bsa-block-125--125 .bsaProAnimateThumb {
	max-width: 125px;
	max-height: 125px;
}

#bsa-block-125--125 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 125px;
}

#bsa-block-125--125 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-125--125 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 125px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE */
/* -- START -- Reset */
#bsa-block-1400--145 h3,
#bsa-block-1400--145 a,
#bsa-block-1400--145 img,
#bsa-block-1400--145 span,
#bsa-block-1400--145 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-1400--145.bsaProContainerNew .bsaProItem,
#bsa-block-1400--145 .bsaProItemInner__thumb,
#bsa-block-1400--145 .bsaProAnimateThumb {
	max-width: 1400px;
	max-height: 145px;
}

#bsa-block-1400--145 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 145px;
}

#bsa-block-1400--145 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-1400--145 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 145px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-1920--1200 h3,
#bsa-block-1920--1200 a,
#bsa-block-1920--1200 img,
#bsa-block-1920--1200 span,
#bsa-block-1920--1200 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-1920--1200.bsaProContainerNew .bsaProItem,
#bsa-block-1920--1200 .bsaProItemInner__thumb,
#bsa-block-1920--1200 .bsaProAnimateThumb {
	max-width: 1920px;
	max-height: 1200px;
}

#bsa-block-1920--1200 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 1200px;
}

#bsa-block-1920--1200 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-1920--1200 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 1200px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-250--250 h3,
#bsa-block-250--250 a,
#bsa-block-250--250 img,
#bsa-block-250--250 span,
#bsa-block-250--250 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-250--250.bsaProContainerNew .bsaProItem,
#bsa-block-250--250 .bsaProItemInner__thumb,
#bsa-block-250--250 .bsaProAnimateThumb {
	max-width: 250px;
	max-height: 250px;
}

#bsa-block-250--250 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 250px;
}

#bsa-block-250--250 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-250--250 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 250px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE */
/* -- START -- Reset */
#bsa-block-250--700 h3,
#bsa-block-250--700 a,
#bsa-block-250--700 img,
#bsa-block-250--700 span,
#bsa-block-250--700 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-250--700.bsaProContainerNew .bsaProItem,
#bsa-block-250--700 .bsaProItemInner__thumb,
#bsa-block-250--700 .bsaProAnimateThumb {
	max-width: 250px;
	max-height: 700px;
}

#bsa-block-250--700 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 700px;
}

#bsa-block-250--700 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-250--700 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 700px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-300--250 h3,
#bsa-block-300--250 a,
#bsa-block-300--250 img,
#bsa-block-300--250 span,
#bsa-block-300--250 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-300--250.bsaProContainerNew .bsaProItem,
#bsa-block-300--250 .bsaProItemInner__thumb,
#bsa-block-300--250 .bsaProAnimateThumb {
	max-width: 300px;
	max-height: 250px;
}

#bsa-block-300--250 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 250px;
}

#bsa-block-300--250 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-300--250 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 250px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-300--600 h3,
#bsa-block-300--600 a,
#bsa-block-300--600 img,
#bsa-block-300--600 span,
#bsa-block-300--600 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-300--600.bsaProContainerNew .bsaProItem,
#bsa-block-300--600 .bsaProItemInner__thumb,
#bsa-block-300--600 .bsaProAnimateThumb {
	max-width: 300px;
	max-height: 600px;
}

#bsa-block-300--600 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 600px;
}

#bsa-block-300--600 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-300--600 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 600px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE */
/* -- START -- Reset */
#bsa-block-300--900 h3,
#bsa-block-300--900 a,
#bsa-block-300--900 img,
#bsa-block-300--900 span,
#bsa-block-300--900 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-300--900.bsaProContainerNew .bsaProItem,
#bsa-block-300--900 .bsaProItemInner__thumb,
#bsa-block-300--900 .bsaProAnimateThumb {
	max-width: 300px;
	max-height: 900px;
}

#bsa-block-300--900 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 900px;
}

#bsa-block-300--900 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-300--900 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 900px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-336--280 h3,
#bsa-block-336--280 a,
#bsa-block-336--280 img,
#bsa-block-336--280 span,
#bsa-block-336--280 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-336--280.bsaProContainerNew .bsaProItem,
#bsa-block-336--280 .bsaProItemInner__thumb,
#bsa-block-336--280 .bsaProAnimateThumb {
	max-width: 336px;
	max-height: 280px;
}

#bsa-block-336--280 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 280px;
}

#bsa-block-336--280 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-336--280 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 280px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-468--60 h3,
#bsa-block-468--60 a,
#bsa-block-468--60 img,
#bsa-block-468--60 span,
#bsa-block-468--60 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-468--60.bsaProContainerNew .bsaProItem,
#bsa-block-468--60 .bsaProItemInner__thumb,
#bsa-block-468--60 .bsaProAnimateThumb {
	max-width: 468px;
	max-height: 60px;
}

#bsa-block-468--60 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 60px;
}

#bsa-block-468--60 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-468--60 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 60px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-block-728--90 h3,
#bsa-block-728--90 a,
#bsa-block-728--90 img,
#bsa-block-728--90 span,
#bsa-block-728--90 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-728--90.bsaProContainerNew .bsaProItem,
#bsa-block-728--90 .bsaProItemInner__thumb,
#bsa-block-728--90 .bsaProAnimateThumb {
	max-width: 728px;
	max-height: 90px;
}

#bsa-block-728--90 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 90px;
}

#bsa-block-728--90 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-728--90 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 90px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-default-extra h3,
#bsa-default-extra a,
#bsa-default-extra img,
#bsa-default-extra span,
#bsa-default-extra p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-default-extra .bsaProItem {
	overflow: hidden;
}

#bsa-default-extra .bsaProItemInner {
	width: 101%;
	height: 150px;
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
}

#bsa-default-extra .bsaProItemInner:hover .bsaProItemInner__thumb {
	-webkit-animation: bsaThumbIn .4s forwards ease-out; /* Chrome, Safari, Opera */
	animation: bsaThumbIn .4s forwards ease-out;
}

#bsa-default-extra .bsaProItemInner:hover .bsaProItemInner__copy {
	-webkit-animation: bsaCopyIn .4s forwards ease-out; /* Chrome, Safari, Opera */
	animation: bsaCopyIn .4s forwards ease-out;
}

#bsa-default-extra .bsaProItemInner:hover .bsaProItemInner__copy .bsaProItemInner__url {
	opacity: 1;
	-webkit-transition: all .4s ease-out; /* Chrome, Safari, Opera */
	transition: all .4s ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bsaThumbIn {
	0%   {width: 35%;transform: scale(1);}
	100%   {width: 20%;transform: scale(1.4);}
}

/* Standard syntax */
@keyframes bsaThumbIn {
	0%   {width: 35%;transform: scale(1);}
	100%   {width: 20%;transform: scale(1.4);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bsaThumbOut {
	0%   {width: 20%;transform: scale(1.4);}
	100%   {width: 35%;transform: scale(1);}
}

/* Standard syntax */
@keyframes bsaThumbOut {
	0%   {width: 20%;transform: scale(1.4);}
	100%   {width: 35%;transform: scale(1);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bsaCopyIn {
	0%   {width: 65%;}
	100%   {width: 80%;}
}

/* Standard syntax */
@keyframes bsaCopyIn {
	0%   {width: 65%;}
	100%   {width: 80%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bsaCopyOut {
	0%   {width: 80%;}
	100%   {width: 65%;}
}

/* Standard syntax */
@keyframes bsaCopyOut {
	0%   {width: 80%;}
	100%   {width: 65%;}
}

#bsa-default-extra .bsaProItemInner .bsaProItemInner__thumb {
	float: left;
	height: 150px;
	width: 35%;
	overflow: hidden;
	-webkit-animation: bsaThumbOut .4s forwards ease-out; /* Chrome, Safari, Opera */
	animation: bsaThumbOut .4s forwards ease-out;
	zoom: 1;
	z-index: 1;
}

#bsa-default-extra .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
}

#bsa-default-extra .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	position: relative;
	height: 150px;
	width: 65%;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 0 0 50px #000000;
	-moz-box-shadow: 0 0 50px #000000;
	box-shadow: 0 0 50px #000000;
	background-color: #f5f5f5;
	-webkit-animation: bsaCopyOut .4s forwards ease-out; /* Chrome, Safari, Opera */
	animation: bsaCopyOut .4s forwards ease-out;
	z-index: 10;
}

#bsa-default-extra .bsaProItemInner__copyInner {

}

#bsa-default-extra .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 17px;
	margin: 15px 15px 0;
}

#bsa-default-extra .bsaProItemInner__copy .bsaProItemInner__desc {
	margin: 0 15px 10px;
	font-size: 14px;
}

#bsa-default-extra .bsaProItemInner__copy .bsaProItemInner__url {
	opacity: 0;
	margin: 0 15px;
	font-weight: bold;
	font-size: 14px;
	-webkit-transition: all .4s ease-out; /* Chrome, Safari, Opera */
	transition: all .4s ease-out;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-default h3,
#bsa-default a,
#bsa-default img,
#bsa-default span,
#bsa-default p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-default .bsaProItem {
	overflow: hidden;
}

#bsa-default .bsaProItemInner {
	width: 101%;
	height: 150px;
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
}

#bsa-default .bsaProItemInner .bsaProItemInner__thumb {
	float: left;
	height: 150px;
	width: 35%;
	overflow: hidden;
}

#bsa-default .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
}

#bsa-default .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	height: 150px;
	width: 65%;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 0 0 50px #000000;
	-moz-box-shadow: 0 0 50px #000000;
	box-shadow: 0 0 50px #000000;
}

#bsa-default .bsaProItemInner__copyInner {

}

#bsa-default .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 17px;
	margin: 15px 15px 0;
}

#bsa-default .bsaProItemInner__copy .bsaProItemInner__desc {
	margin: 0 15px 10px;
	font-size: 14px;
}

#bsa-default .bsaProItemInner__copy .bsaProItemInner__url {
	margin: 0 15px;
	font-weight: bold;
	font-size: 14px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-facebook-1 h3,
#bsa-facebook-1 a,
#bsa-facebook-1 img,
#bsa-facebook-1 span,
#bsa-facebook-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-facebook-1 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-facebook-1 .bsaProItemInner {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #ffffff;
	color: #000000;
	height: 260px;
	width: 100%;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
}

#bsa-facebook-1 .bsaProItemInner__copy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	color: white;
}

#bsa-facebook-1 .bsaProItemInner__copyInner {
	position: relative;
	padding: 10px;
	z-index: 100;
	height: 240px;
}

#bsa-facebook-1 .bsaProItemInner__thumb {

}

#bsa-facebook-1 .bsaProItemInner__img {
	width: 100%;
	height: 160px;
	background-size: cover;
}

#bsa-facebook-1 .bsaProItemInner__title {
	margin-top: 10px;
  font-weight: bold;
}

#bsa-facebook-1 .bsaProItemInner__title,
#bsa-facebook-1 .bsaProItemInner__url {
	font-size: 12px;
	color: #3b5998;
}

#bsa-facebook-1 .bsaProItemInner__url {
	display: block;
	font-weight: normal;
	white-space: nowrap;
}

#bsa-facebook-1 .bsaProItemInner__desc {
	font-size: 12px;
	color: #9197a3;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-facebook-2 h3,
#bsa-facebook-2 a,
#bsa-facebook-2 img,
#bsa-facebook-2 span,
#bsa-facebook-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-facebook-2 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-facebook-2 .bsaProItemInner {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #ffffff;
	color: #000000;
	height: 190px;
	width: 100%;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
}

#bsa-facebook-2 .bsaProItemInner__copy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	color: white;
}

#bsa-facebook-2 .bsaProItemInner__copyInner {
	position: relative;
	padding: 10px;
	z-index: 100;
	height: 170px;
}

#bsa-facebook-2 .bsaProItemInner_copyHeader {
	height: 80px;
}

#bsa-facebook-2 .bsaProItemInner__title {
	font-size: 16px;
	color: #3b5998;
}

#bsa-facebook-2 .bsaProItemInner__desc {
	font-size: 13px;
	color: #9197a3;
}

#bsa-facebook-2 .bsaProItemInner__thumb {

}

#bsa-facebook-2 .bsaProItemInner__img {
	width: 100%;
	height: 70px;
	background-size: cover;
}

#bsa-facebook-2 .bsaProItemInner__url {
	display: block;
	font-size: 12px;
	color: #9197a3;
	font-weight: normal;
	white-space: nowrap;
	margin-top: 7px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-flat-1 h3,
#bsa-flat-1 a,
#bsa-flat-1 img,
#bsa-flat-1 span,
#bsa-flat-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-flat-1 .bsaProItemInner {
	width: 100%;
	height: 150px;
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
}

#bsa-flat-1 .bsaProItemInner .bsaProItemInner__thumb {
	float: right;
	height: 150px;
	width: 35%;
	overflow: hidden;
}

#bsa-flat-1 .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-color: #bbdefb;
}

#bsa-flat-1 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol {
	color: white;
}

#bsa-flat-1 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbolBox {
	width: 50px;
	margin: 0 auto;
}

#bsa-flat-1 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol .bsaProItemInner__imgSymbolBox > i {
	font-size: 50px;
	line-height: 150px;
	text-align: center;
	border: 1px solid white;
	border-radius: 50%;
}

#bsa-flat-1 .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	height: 150px;
	width: 65%;
	padding: 0;
	margin: 0;
}

#bsa-flat-1 .bsaProItemInner__copyInner {

}

#bsa-flat-1 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 17px;
	margin: 15px 15px 0;
}

#bsa-flat-1 .bsaProItemInner__copy .bsaProItemInner__desc {
	margin: 0 15px 10px;
	font-size: 14px;
}

#bsa-flat-1 .bsaProItemInner__copy .bsaProItemInner__url {
	margin: 0 15px;
	font-weight: bold;
	font-size: 14px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-flat-2 h3,
#bsa-flat-2 a,
#bsa-flat-2 img,
#bsa-flat-2 span,
#bsa-flat-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-flat-2 .bsaProItemInner {
	width: 100%;
	height: 150px;
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
}

#bsa-flat-2 .bsaProItemInner .bsaProItemInner__thumb {
	float: right;
	height: 150px;
	width: 35%;
	overflow: hidden;
}

#bsa-flat-2 .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-color: #9575cd;
}

#bsa-flat-2 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol {
	color: black;
}

#bsa-flat-2 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbolBox {
	width: 50px;
	margin: 0 auto;
}

#bsa-flat-2 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol .bsaProItemInner__imgSymbolBox > i {
	font-size: 50px;
	line-height: 150px;
	text-align: center;
	border: 1px solid black;
	border-radius: 50%;
}

#bsa-flat-2 .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	height: 150px;
	width: 65%;
	padding: 0;
	margin: 0;
}

#bsa-flat-2 .bsaProItemInner__copyInner {

}

#bsa-flat-2 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 17px;
	margin: 15px 15px 0;
}

#bsa-flat-2 .bsaProItemInner__copy .bsaProItemInner__desc {
	margin: 10px 15px;
	font-size: 14px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-flat-3 h3,
#bsa-flat-3 a,
#bsa-flat-3 img,
#bsa-flat-3 span,
#bsa-flat-3 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-flat-3 .bsaProItemInner {
	width: 100%;
	height: 170px;
	overflow: hidden;
	color: #FFFFFF;
	text-align: center;
}

#bsa-flat-3 .bsaProItemInner .bsaProItemInner__thumb,
#bsa-flat-3 .bsaProItemInner .bsaProItemInner__thumbBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#bsa-flat-3 .bsaProItemInner .bsaProItemInner__thumbBg {
	z-index: 20;
	background-color: black;
	opacity: .4;
}

#bsa-flat-3 .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 170px;
	background-size: cover;
}

#bsa-flat-3 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol .bsaProItemInner__imgSymbolBox > i {
	font-size: 50px;
	line-height: 170px;
	text-align: center;
	border: 1px solid black;
	border-radius: 50%;
}

#bsa-flat-3 .bsaProItemInner .bsaProItemInner__copy {
	position: relative;
	height: 170px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
}

#bsa-flat-3 .bsaProItemInner__copyInner {

}

#bsa-flat-3 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 12px;
	font-weight: normal;
	padding: 7px 11px;
	color: white;
	border: 1px solid white;
	width: auto;
	border-radius: 30px;
	display: inline-block;
	opacity: .9;
}

#bsa-flat-3 .bsaProItemInner:hover .bsaProItemInner__copy .bsaProItemInner__title {
	background-color: white;
	color: black;
	opacity: 1;
}

#bsa-flat-3 .bsaProItemInner__copy .bsaProItemInner__desc {
	font-size: 15px;
	margin: 25px 50px 20px;
	line-height: 22px;
	font-weight: bold;

}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-flat-4 h3,
#bsa-flat-4 a,
#bsa-flat-4 img,
#bsa-flat-4 span,
#bsa-flat-4 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-flat-4 .bsaProItemInner {
	width: 100%;
	height: 170px;
	overflow: hidden;
	color: #FFFFFF;
	text-align: center;
}

#bsa-flat-4 .bsaProItemInner .bsaProItemInner__thumb,
#bsa-flat-4 .bsaProItemInner .bsaProItemInner__thumbBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#bsa-flat-4 .bsaProItemInner .bsaProItemInner__thumbBg {
	z-index: 20;
	background-color: black;
	opacity: .4;
}

#bsa-flat-4 .bsaProItemInner__thumb .bsaProItemInner__img {
	width: 100%;
	height: 170px;
	background-size: cover;
}

#bsa-flat-4 .bsaProItemInner__thumb .bsaProItemInner__img .bsaProItemInner__imgSymbol .bsaProItemInner__imgSymbolBox > i {
	font-size: 50px;
	line-height: 170px;
	text-align: center;
	border: 1px solid black;
	border-radius: 50%;
}

#bsa-flat-4 .bsaProItemInner .bsaProItemInner__copy {
	position: relative;
	height: 170px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
}

#bsa-flat-4 .bsaProItemInner__copyInner {

}

#bsa-flat-4 .bsaProItemInner__copy .bsaProItemInner__url {
	display: block;
	line-height: 30px;
	text-align: right;
	margin: 5px 15px;
}

#bsa-flat-4 .bsaProItemInner__copy .bsaProItemInner__line {
	display: block;
	margin: 0 15px 15px;
	background-color: white;
	opacity: .5;
	border-bottom: 1px solid white;
}

#bsa-flat-4 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 26px;
	text-transform: uppercase;
	color: white;
	width: auto;
	display: inline-block;
	margin: 0 20px;
	font-weight: bold;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-html h3,
#bsa-html a,
#bsa-html img,
#bsa-html span,
#bsa-html p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
#bsa-html a {
	display: inline;
}
/* -- END -- Reset *//* -- START -- Reset */
#bsa-image-1 h3,
#bsa-image-1 a,
#bsa-image-1 img,
#bsa-image-1 span,
#bsa-image-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-image-1 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-image-2 h3,
#bsa-image-2 a,
#bsa-image-2 img,
#bsa-image-2 span,
#bsa-image-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-image-2 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
}
#bsa-image-2 .bsaProItemInner__copy {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}
#bsa-image-2 .bsaProItemInner__copyInner {
	padding: 10px;
	z-index: 100;
	position: relative;
}
#bsa-image-2 .bsaProItemInner__copyInnerBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	background-color: black;
	z-index: 10;
}
#bsa-image-2 .bsaProItemInner__title {
	color: white;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-link-1 h3,
#bsa-link-1 a,
#bsa-link-1 img,
#bsa-link-1 span,
#bsa-link-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-link-2 .bsaProItems {
	border: 1px grey dashed;
	box-sizing: border-box;
}

#bsa-link-1 .bsaProItemInner__copy {
	margin: 5px 15px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-link-2 h3,
#bsa-link-2 img,
#bsa-link-2 a,
#bsa-link-2 span,
#bsa-link-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-link-2 .bsaProItems {
	border: 1px grey dashed;
	box-sizing: border-box;
}

#bsa-link-2 .bsaProItemInner__copy {
	margin: 5px 15px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-material-design-1 h3,
#bsa-material-design-1 img,
#bsa-material-design-1 span,
#bsa-material-design-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-material-design-1 .bsaProItem {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
}

#bsa-material-design-1 .bsaProItemInner {
	overflow: hidden;
	background-color: white;
	color: #000000;
	height: 150px;
	width: 100%;
}

#bsa-material-design-1 .bsaProItemInner__thumb {

}

#bsa-material-design-1 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
}

#bsa-material-design-1 .bsaProItemInner__copy {
	position: absolute;
	top: 0;
	margin: 5%;
	width: 90%;
	height: auto;
	color: black;
	z-index: 15;
	background-color: white;
	border-radius: 2px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-1 .bsaProItemInner:hover .bsaProItemInner__copy {
	top: 60%;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-1 .bsaProItemInner__copyInner {
	position: relative;
	padding: 15px;
}

#bsa-material-design-1 .bsaProItemInner__button {
	color: white;
	position: absolute;
	bottom: -80px;
	width: 100%;
	text-align: center;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-1 .bsaProItemInner:hover .bsaProItemInner__button {
	bottom: 45px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
	-webkit-transition-delay: .1s; /* For Safari 3.1 to 6.0 */
	transition-delay: .1s;
}

#bsa-material-design-1 .bsaProItemInner__buttonInner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

#bsa-material-design-1 .bsaProItemInner__title {
	color: black;
}

#bsa-material-design-1 .bsaProItemInner__desc {
	line-height: 20px;
	font-size: 13px;
	margin-top: 5px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-material-design-2 h3,
#bsa-material-design-2 img,
#bsa-material-design-2 span,
#bsa-material-design-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-material-design-2 .bsaProItem {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	padding: 0;
}

#bsa-material-design-2 .bsaProItemInner {
	overflow: hidden;
	background-color: white;
	color: #000000;
	height: 150px;
	width: 100%;
	border-radius: 2px;
}

#bsa-material-design-2 .bsaProItemInner__thumb {
	border-radius: 2px;
}

#bsa-material-design-2 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
	border-radius: 2px;
}

#bsa-material-design-2 .bsaProItemInner__copy {
	position: absolute;
	top: 100px;
	bottom: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: black;
	z-index: 15;
	background-color: white;
	border-radius: 0 0 2px 2px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-2 .bsaProItemInner:hover .bsaProItemInner__copy {
	top: 0;
	border-radius: 2px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-2 .bsaProItemInner__copyInner {
	position: relative;
	padding: 15px;
}

#bsa-material-design-2 .bsaProItemInner__buttonInner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

#bsa-material-design-2 .bsaProItemInner__title {
	color: black;
	margin-top: -10px;
	line-height: 40px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-2 .bsaProItemInner:hover .bsaProItemInner__title {
	margin-top: 0;
	line-height: 22px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-material-design-2 .bsaProItemInner__desc {
	line-height: 18px;
	font-size: 13px;
	margin-top: 5px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-modern-1 h3,
#bsa-modern-1 a,
#bsa-modern-1 img,
#bsa-modern-1 span,
#bsa-modern-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-modern-1 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-modern-1 .bsaProItemInner {
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
	height: 150px;
	width: 100%;
}

#bsa-modern-1 .bsaProItemInner__thumb {

}

#bsa-modern-1 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-1 .bsaProItemInner:hover .bsaProItemInner__img  {
	width: 140%;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s;
}

#bsa-modern-1 .bsaProItemInner__copy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	color: white;
}

#bsa-modern-1 .bsaProItemInner__copyInnerBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	background-color: black;
	z-index: 10;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-1 .bsaProItemInner:hover .bsaProItemInner__copyInnerBg  {
	opacity: .7;
	-webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
	transition: opacity .5s;
}

#bsa-modern-1 .bsaProItemInner__copyInner {
	position: relative;
	padding: 15px;
	z-index: 100;
}

#bsa-modern-1 .bsaProItemInner__title {
	color: white;
}

#bsa-modern-1 .bsaProItemInner__desc,
#bsa-modern-1 .bsaProItemInner__url {
	margin-top: 10px;
}

#bsa-modern-1 .bsaProItemInner__url {
	display: block;
	font-weight: bold;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-modern-2 h3,
#bsa-modern-2 a,
#bsa-modern-2 img,
#bsa-modern-2 span,
#bsa-modern-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-modern-2 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-modern-2 .bsaProItemInner {
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
	height: 150px;
	width: 100%;
}

#bsa-modern-2 .bsaProItemInner__thumb {

}

#bsa-modern-2 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-2 .bsaProItemInner:hover .bsaProItemInner__img  {
	width: 140%;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s;
}

#bsa-modern-2 .bsaProItemInner__copy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	color: white;
}

#bsa-modern-2 .bsaProItemInner__copyInnerBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	background-color: black;
	z-index: 10;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-2 .bsaProItemInner:hover .bsaProItemInner__copyInnerBg  {
	opacity: .7;
	-webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
	transition: opacity .5s;
}

#bsa-modern-2 .bsaProItemInner__copyInner {
	position: relative;
	padding: 20px;
	z-index: 100;
}

#bsa-modern-2 .bsaProItemInner__title {
	color: white;
	text-align: center;
	font-size: 20px;
}

#bsa-modern-2 .bsaProItemInner__desc {
	margin-top: 15px;
	text-align: center;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-modern-3 h3,
#bsa-modern-3 a,
#bsa-modern-3 img,
#bsa-modern-3 span,
#bsa-modern-3 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-modern-3 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-modern-3 .bsaProItemInner {
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
	height: 150px;
	width: 100%;
}

#bsa-modern-3 .bsaProItemInner__thumb {

}

#bsa-modern-3 .bsaProItemInner__img {
	width: 100%;
	height: 150px;
	background-size: cover;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-3 .bsaProItemInner:hover .bsaProItemInner__img  {
	width: 140%;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s;
}

#bsa-modern-3 .bsaProItemInner__copy {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60%;
	color: white;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-3 .bsaProItemInner:hover .bsaProItemInner__copy  {
	height: 100%;
	-webkit-animation: showCopy .4s ease-in-out; /* For Safari 3.1 to 6.0 */
	animation: showCopy .4s ease-in-out;
}

@-webkit-keyframes showCopy {
	0%   {height: 60%;}
	100% {height: 100%;}
}

/* Standard syntax */
@keyframes showCopy {
	0%   {height: 60%;}
	100% {height: 100%;}
}

#bsa-modern-3 .bsaProItemInner__copyInnerBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	background-color: black;
	z-index: 10;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-3 .bsaProItemInner:hover .bsaProItemInner__copyInnerBg  {
	opacity: .7;
	-webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
	transition: opacity .5s;
}

#bsa-modern-3 .bsaProItemInner__copyInner {
	position: relative;
	padding: 20px;
	z-index: 100;
}

#bsa-modern-3 .bsaProItemInner__title {
	color: white;
	text-align: center;
	font-size: 20px;
}

#bsa-modern-3 .bsaProItemInner__desc {
	opacity: 0;
	margin-top: 15px;
	text-align: center;
	line-height: 20px;
	-webkit-transition: all .4s; /* For Safari 3.1 to 6.0 */
	transition: all .4s;
}

#bsa-modern-3 .bsaProItemInner:hover .bsaProItemInner__desc  {
	opacity: 1;
	-webkit-transition: all .4s; /* For Safari 3.1 to 6.0 */
	transition: all .4s;
	-webkit-transition-delay: .2s; /* For Safari 3.1 to 6.0 */
	transition-delay: .2s;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-modern-4 h3,
#bsa-modern-4 a,
#bsa-modern-4 img,
#bsa-modern-4 span,
#bsa-modern-4 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-modern-4 .bsaProItem {
	position: relative;
	overflow: hidden;
}

#bsa-modern-4 .bsaProItemInner {
	overflow: hidden;
	background-color: #f5f5f5;
	color: #000000;
	height: 200px;
	width: 100%;
}

#bsa-modern-4 .bsaProItemInner__thumb {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}

#bsa-modern-4 .bsaProItemInner__thumbContainer {
	width: 100%;
	margin: -40px auto 0;
	text-align: center;
	z-index: 100;
	position: relative;
}

#bsa-modern-4 .bsaProItemInner__img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#bsa-modern-4 .bsaProItemInner:hover .bsaProItemInner__img  {
	width: 140%;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s;
}

#bsa-modern-4 .bsaProItemInner__copyTitle {
	bottom: 0;
	width: 100%;
	color: black;
	height: 90px;
}

#bsa-modern-4 .bsaProItemInner__copyTitle .bsaProItemInner__copyInner {
	position: relative;
	padding: 20px;
	z-index: 10;
	height: 50px;
	background-color: #eaeaea;
}

#bsa-modern-4 .bsaProItemInner__title {
	color: black;
}

#bsa-modern-4 .bsaProItemInner__copyDesc {

}

#bsa-modern-4 .bsaProItemInner__copyDesc .bsaProItemInner__copyInner {
	padding: 0 15px;
}

#bsa-modern-4 .bsaProItemInner__desc {
	margin-top: 15px;
	text-align: center;
	line-height: 20px;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-paper-note-1 h3,
#bsa-paper-note-1 a,
#bsa-paper-note-1 img,
#bsa-paper-note-1 span,
#bsa-paper-note-1 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-paper-note-1 .bsaProItemInner.bsaNote {
	position: relative;
	height: 140px;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
	background: #e53935;
	overflow: hidden;
}

#bsa-paper-note-1 .bsaProItemInner.bsaNote:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 16px 16px 0;
	border-style: solid;
	border-color: #fff #fff #c62828 #c62828;
	background: #c62828;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	/* Firefox 3.0 damage limitation */
	display: block; width: 0;
}

#bsa-paper-note-1 .bsaProItemInner.bsaNote.bsaRounded {
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
}

#bsa-paper-note-1 .bsaProItemInner.bsaNote.bsaRounded:before {
	border-width: 15px;
	border-color: #fff #fff transparent transparent;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

#bsa-paper-note-1 .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	height: 140px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#bsa-paper-note-1 .bsaProItemInner__copyInner {

}

#bsa-paper-note-1 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 20px;
	margin: 15px 15px 0;
	color: #5d0a0a;
}

#bsa-paper-note-1 .bsaProItemInner__copy .bsaProItemInner__desc {
	margin: 0 15px 10px;
	font-size: 14px;
	color: #ffcdd2;
}

#bsa-paper-note-1 .bsaProItemInner__copy .bsaProItemInner__url {
	margin: 0 15px;
	font-weight: bold;
	font-size: 14px;
	color: #ffcdd2;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-paper-note-2 h3,
#bsa-paper-note-2 a,
#bsa-paper-note-2 img,
#bsa-paper-note-2 span,
#bsa-paper-note-2 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-paper-note-2 .bsaProItemInner.bsaNote {
	position: relative;
	height: 160px;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #000;
	background: url('../img/paper-note.png') transparent top center no-repeat;
	background-size: cover;
	overflow: hidden;
}

#bsa-paper-note-2 .bsaProItemInner .bsaProItemInner__copy {
	float: left;
	height: 160px;
	width: 85%;
	padding: 0 0 0 15%;
	margin: 0;
}

#bsa-paper-note-2 .bsaProItemInner__copyInner {

}

#bsa-paper-note-2 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 20px;
	margin: 20px 15px 0;
	color: #000;
}

#bsa-paper-note-2 .bsaProItemInner__copy .bsaProItemInner__desc {
	font-size: 14px;
	line-height: 24px;
	margin: 4px 15px 10px;
	color: #000;
}

#bsa-paper-note-2 .bsaProItemInner__copy .bsaProItemInner__url {
	margin: 0 15px;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
/* -- END -- TEMPLATE *//* -- START -- Reset */
#bsa-paper-note-3 h3,
#bsa-paper-note-3 a,
#bsa-paper-note-3 img,
#bsa-paper-note-3 span,
#bsa-paper-note-3 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-paper-note-3.bsaAnimateCircle,
#bsa-paper-note-3 .bsaAnimateCircle {
	transition: all 750ms ease-in-out;
}

#bsa-paper-note-3 .bsaProItemInner {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;

	backface-visibility: hidden;
}

#bsa-paper-note-3 .bsaProItemInner .bsaSticky{
	transform: rotate(45deg);
}

#bsa-paper-note-3 .bsaProItemInner:hover .bsaSticky{
	transform: rotate(10deg);
}

#bsa-paper-note-3 .bsaProItemInner .bsaSticky{
	position: absolute;
	top: 0;
	left: 0;
	width:180px;
	height: 180px;
}

#bsa-paper-note-3 .bsaProItemInner .bsaReveal .bsaCircle{
	box-shadow: 0 1px 0px rgba(0,0,0,.15);

	font-family: 'helvetica neue', arial;
	font-weight: 200;
	line-height: 140px;
	text-align: center;

	cursor: pointer;
}

#bsa-paper-note-3 .bsaProItemInner .bsaReveal .bsaCircle{
	background: #f1f1f1;
}

#bsa-paper-note-3 .bsaProItemInner .bsaCircle_wrapper{
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#bsa-paper-note-3 .bsaProItemInner .bsaCircle{
	position: absolute;
	width: 140px;
	height:  140px;
	margin: 20px;

	border-radius: 999px;
}

#bsa-paper-note-3 .bsaProItemInner .bsaBack{
	height: 10px;
	top: 30px;
}

#bsa-paper-note-3 .bsaProItemInner:hover .bsaBack{
	height: 90px;
	top: 110px;
}

#bsa-paper-note-3 .bsaProItemInner .bsaBack .bsaCircle{
	margin-top: -130px;
	background-color: #00897b;

	background-image: -webkit-linear-gradient(bottom, transparent, #00695c);
	background-image: -moz-linear-gradient(bottom, transparent, #00695c);
	background-image: linear-gradient(bottom, transparent, #00695c);
}

#bsa-paper-note-3 .bsaProItemInner:hover .bsaBack .bsaCircle{
	margin-top: -50px;
}

#bsa-paper-note-3 .bsaProItemInner .bsaFront{
	height: 150px;
	bottom: 0;
	top: auto;

	-webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
}

#bsa-paper-note-3 .bsaProItemInner:hover .bsaFront{
	height: 70px;

	-webkit-box-shadow: 0 -60px 10px -60px rgba(0,0,0,.1);
}

#bsa-paper-note-3 .bsaProItemInner .bsaFront .bsaCircle{
	margin-top: -10px;
	background-color: #00897b;

	background-image: -webkit-linear-gradient(bottom, transparent 75%, #00695c 95%);
	background-image: -moz-linear-gradient(bottom, transparent 75%, #00695c 95%);
	background-image: linear-gradient(bottom, transparent 75%, #00695c 95%);
}

#bsa-paper-note-3 .bsaProItemInner h3 {
	font-weight: 200;
	text-align: center;
	position: absolute;
	width: 110px;
	height: 70px;
	margin: 65px 0 0 30px;
	color: #e0f2f1;

	-ms-transform: rotate(20deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari */
	transform: rotate(20deg); /* Standard syntax */

	transition: opacity 50ms linear 400ms;
}

#bsa-paper-note-3 .bsaProItemInner:hover h3 {
	opacity: 0;

	transition: opacity 50ms linear 300ms;
}

#bsa-paper-note-3 .bsaProItemInner:hover .bsaFront .bsaCircle {
	margin-top: -90px;
	background-color: #00897b;
	background-position: 0 100px;
}

#bsa-paper-note-3 .bsaProItemInner__copy .bsaProItemInner__title {
	font-size: 17px;
	line-height: 22px;
	overflow: hidden;
}

#bsa-paper-note-3 .bsaProItemInner__copy .bsaProItemInner__desc {
	font-size: 12px;
	line-height: 16px;
	margin: 15px 15px 10px;
	color: #000;
	overflow: hidden;
}
/* -- END -- TEMPLATE */