
/* -- START -- Reset */
#bsa-block-250--700 h3,
#bsa-block-250--700 a,
#bsa-block-250--700 img,
#bsa-block-250--700 span,
#bsa-block-250--700 p {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1.25;
}
/* -- END -- Reset */


/* -- START -- TEMPLATE */
#bsa-block-250--700.bsaProContainerNew .bsaProItem,
#bsa-block-250--700 .bsaProItemInner__thumb,
#bsa-block-250--700 .bsaProAnimateThumb {
	max-width: 250px;
	max-height: 700px;
}

#bsa-block-250--700 .bsaProAnimateThumb {
	position: relative;
	width: 100%;
	height: 700px;
}

#bsa-block-250--700 .bsaProAnimateThumb:before{
	content: "";
	display: block;
}

#bsa-block-250--700 .bsaProItemInner__img {
	position:  absolute;
	width: 100%;
	max-height: 700px;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* -- END -- TEMPLATE */